In [1]:
import numpy as np
import re
from matplotlib import pyplot as plt
%matplotlib inline
import random
import pandas as pd

In [2]:
ds = pd.read_csv('data.csv')
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29886 entries, 0 to 29885
Data columns (total 5 columns):
Text         29885 non-null object
Date         29886 non-null object
Favorites    29886 non-null int64
Retweets     29886 non-null int64
Tweet ID     29886 non-null int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB

In [3]:
ds.drop(['Date','Favorites','Retweets','Tweet ID'],axis=1)
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29886 entries, 0 to 29885
Data columns (total 5 columns):
Text         29885 non-null object
Date         29886 non-null object
Favorites    29886 non-null int64
Retweets     29886 non-null int64
Tweet ID     29886 non-null int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB

In [4]:
ds.head()

,Text,Date,Favorites,Retweets,Tweet ID
0,Nielson Media Research final numbers on ACCEPT...,2016-07-30 23:32:40,13850,4130,759592590106849280
1,Thank you to all of the television viewers tha...,2016-07-30 19:00:07,27659,6842,759524001613918208
2,Can you imagine if I had the small crowds that...,2016-07-30 18:28:22,19968,6488,759516008272932864
3,NATO commander agrees members should pay up vi...,2016-07-30 18:24:40,11624,4668,759515080010719232
4,"Wow, NATO's top commander just announced that ...",2016-07-30 18:18:58,23922,7819,759513644258525184

In [5]:
ds.shape[0]

29886

In [6]:
f = open('trump_.txt','w')

In [11]:
for ix in range(1024):
    tx = ds.Text[ix]
    f.write(tx)

In [12]:
f.close()